ul.nav li{
    display: inline-block;
    padding-right: 10px;
}

#about_blue{
  background: #00b3bd;
  border: 11px solid pink;
  margin-bottom: 17px;
}

#about_yellow{
background:yellow;
border: 11px solid pink;
}
#about_yellow li{
  color:#bdb300;
}
